<h1>These are the docs you're looking for</h1>

<div class="search" id="index-search">
  <label>
    <span class="search-label">Search documentation</span>
    <input class="search-input" autofocus />
  </label>
</div>
